* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Monserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT_WONK_opsz_wght.ttf)
    format("truetype");
}

/* Variables */

:root {
  /* Font Families */

  --ff-monstserrat: "Montserrat";
  --ff-fraunces: "Fraunces";

  /* Colors */

  --c-primary-1-darkCyan: hsl(158, 36%, 37%);
  --c-primary-2-cream: hsl(30, 38%, 92%);
  --c-neutral-1-veryDarkBlue: hsl(212, 21%, 14%);
  --c-neutral-2-darkGrayishBlue: hsl(228, 12%, 48%);
  --c-neutral-3-white: hsl(0, 0%, 100%);
}

/* Body */

body {
  background-color: var(--c-primary-2-cream);
  display: grid;
  grid-template: 1fr / 1fr;
  min-height: 100vh;
  place-items: center;
  font-size: 14px;
  grid-auto-rows: 50px;
  grid-auto-columns: 1fr;
}

/* Main */

.main-container {
  height: auto;
  width: 338px;
  background-color: var(--c-neutral-3-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 236.5px 1fr;
  border-radius: 10px;
}

/* Image */

.img-container,
.main-img-mobile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-img-desktop {
  display: none;
}

.main-img-mobile {
  width: 100%;
}

/* Content */

.content {
  height: 100%;
  padding: 25px 30px 50px 30px;
  display: grid;
  grid-template:
    "h2 h2" 10px
    "h1 h1" 100px
    "p p" 1fr
    "price old-price" 75px
    "button button" 50px / 1fr 1fr;
}

h2 {
  grid-area: h2;
  letter-spacing: 5px;
  font-family: "Monserrat";
  font-size: 0.7rem;
  color: var(--c-neutral-2-darkGrayishBlue);
  font-weight: 400;
}

h1 {
  grid-area: h1;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.description {
  grid-area: p;
  font-family: "Monserrat";
  color: var(--c-neutral-2-darkGrayishBlue);
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: 400;
  word-wrap: break-word;
  width: 95%;
}

.price {
  grid-area: price;
  font-size: 2rem;
  color: var(--c-primary-1-darkCyan);
  font-family: "Fraunces";
  font-weight: 700;
}

.old-price {
  grid-area: old-price;
  color: var(--c-neutral-2-darkGrayishBlue);
  text-decoration: line-through;
}

.button {
  grid-area: button;
  font-family: "Monserrat";
  height: 50px;
  border-radius: 10px;
  background-color: var(--c-primary-1-darkCyan);
  color: var(--c-neutral-3-white);
  font-weight: 700;
  border: none;
}

.button::before {
  content: url(images/icon-cart.svg);
  margin-right: 10px;
  vertical-align: middle;
}

.button:hover {
  background-color: hsl(156, 42%, 18%);
  cursor: pointer;
}

.content > * {
  align-self: center;
}

/* Attribution */

.attribution {
  grid-row: 2;
}

/* Main - Desktop */

@media all and (min-width: 1000px) {
  .main-container {
    width: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    border-radius: 10px;
  }

  .main-img-mobile {
    display: none;
  }

  .img-container {
    width: 100%;
    height: 500px;
  }

  .main-img-desktop {
    display: inline-block;
    height: 100%;
  }

  .img-container,
  .main-img-desktop {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content {
    grid-template:
      "h2 h2" 50px
      "h1 h1" 100px
      "p p" 120px
      "price old-price" 80px
      "button button" 80px / 1fr 1fr;
    padding: 30px 50px 10px 30px;
  }

  .description {
    width: 80%;
  }

  .old-price {
    margin-left: 15px;
  }

  h1 {
    word-wrap: break-word;
    width: 80%;
  }
}
